
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Create lesson</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
  <form class="form-signin" method="post" th:action="'/courses/' + ${course.getTitle()} + '/create-lesson'">
    <h2 class="form-signin-heading">Please create lesson</h2>

    <p>
      <label for="theme" class="sr-only">Theme</label>
      <input type="text" id="theme" name="theme" class="form-control" placeholder="Theme" required autofocus>
    </p>

    <p>
      <label for="description" class="sr-only">Description</label>
      <input type="text" id="description" name="description" class="form-control" placeholder="Description" required>
    </p>

    <p>
      <label for="homework" class="sr-only">Homework</label>
      <input type="text" id="homework" name="homework" class="form-control" placeholder="Homework" required>
    </p>

    <p>
      <label for="startsAt" class="sr-only">Starts at</label>
      <input type="datetime-local" id="startsAt" name="startsAt" class="form-control" required>
    </p>

    <p>
      <label for="endsAt" class="sr-only">Ends at</label>
      <input type="datetime-local" id="endsAt" name="endsAt" class="form-control" required>
    </p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add lesson</button>

  </form>
</div>
</body>
</html>